<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="695020469226-f0dq77v2l84u8nbro0rq4td15kalcqlh.apps.googleusercontent.com">
    <title>Art Show v1</title>
    <!-- Semantic styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <!-- Main CSS -->
        <link rel="stylesheet" href="/styles/main.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- Main Js -->
    <script src="/scripts/app.js" defer></script>
</head>
<body>