<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <!-- font awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <!-- Semantic -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<!-- css -->
<link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <nav> 
    <p>
      <a href="/curatorsg">Curator</a>
      <a href="/artistsg">Artist</a>
      <a href="/curators/edit">Curator Edit</a>
      <a href="/artists/edit">Artist Edit</a>
      <a href="/curators/show">Curator Show</a>
      <a href="/artists/show">Artist Show</a>
      <a href="/curators/new">Curator New</a>
      <a href="/artists/new">Artist New</a>
    </p>
  </nav>
  <h1>Home page</h1>
  <!-- Login -->
  <container class="emailContainer">
    <div class="ui left icon input">
      <input type="text" placeholder="Email">
        <i class="user icon"></i>
    </div>
    <div class="ui left icon input">
      <input type="text" placeholder="Password">
        <i class="unlock icon"></i>
    </div>
<!--     <h2>Or</h2> -->
    <div>
      <!-- log in with google -->
      <!-- log in facebook -->
    </div>
</container>
</body>
</html>