<!-- Boiler plate -->
<%- include("partials/header") %>

  <nav> 
    <p>
      <a href="/curators">Curator</a>
      <a href="/artists">Artist</a>
    </p>
  </nav>
  <h1>Home page</h1>
  <!-- Login -->
  <container class="emailContainer">
    <div class="ui left icon input">
      <input type="text" placeholder="Email">
        <i class="user icon"></i>
    </div>
    <div class="ui left icon input">
      <input type="text" placeholder="Password">
        <i class="unlock icon"></i>
    </div>
<!--     <h2>Or</h2> -->
    <div>
      <!-- log in with google -->
      <!-- log in facebook -->
    </div>
</container>

<!-- Boiler plate -->
<%- include("partials/footer") %>