* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  text-align: center;
  background-image: url(../imgs/wall-751342_960_720.webp);
  background-size: cover;
}

h1 {
  color: #3a4b66;
  font-family: "Lora", serif;
}
h2 {
  color: #3a4b66;
  font-family: "Lora", serif;
}

/* nav Bar */
.navBar {
  margin: 1% auto;
}
/* Curator Show page */

img {
  max-height: 362px;
  min-height: 362px;
  min-width: 290px;
}
.artistForm {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.artistEdit {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.ui.button {
  margin: 1%;
}

.showContainer {
  padding: 3 rem;
  margin: 0% auto;
  display: flex;
  flex-direction: row;
}

.showContainerDiv {
  margin: 0% auto;
  display: flex;
  flex-direction: row;
}

.deleteButton {
  background-color: transparent;
  border: none;
}
.newCurator {
  width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.loginContainer {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  /* max-width: 80%; */
}
div {
  align-self: center;
}

/* login screen */
.login {
  color: white;
}
.regLink {
  color: grey;
}

/* register page */
