* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  text-align: center;  
  background-image: url("https://cdn.pixabay.com/photo/2015/05/03/16/05/wall-751342_960_720.jpg")
};

h1 {
 color:#3a4b66;
 font-family: 'Lora', serif;
 
}
h2{
  color:#3a4b66;
  font-family: 'Lora', serif;

}
.artistForm {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.deleteButton {
  background-color: transparent;
  border: none;
  
}
.newCurator {
  width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

}

.loginContainer {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  /* max-width: 80%; */
}
