/* nav Bar */
@import "./components/nav.css";

/* Curator */
@import "./components/curator.css";

/* register page */
@import "./components/regis.css";

/* login screen */
@import "./components/home.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  color: black;
}

body {
  text-align: center;
  background-image: url(../imgs/wall-751342_960_720.webp);
  background-size: cover;
}

a {
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
  font-family: "Lora", serif;
}

.mainheader {
  font-size: 40px;
  text-shadow: 2px 2px black;
}
h2 {
  color: whitesmoke;
  font-family: "Lora", serif;
}

div {
  align-self: center;
}

.galleries {
  font-size: 20px;
}
.lists {
  text-shadow: 2px 2px grey;
  font-size :20px;

}
