* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}
.artistForm {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.deleteButton {
  background-color: transparent;
  border: none;
}

.loginContainer {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  /* max-width: 80%; */
}
