<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1></h1>
  <nav>
    <a href="/curators">Curator</a>
    <a href="/artists">Artist</a>
    <a href="/curators/edit">Curator Edit</a>
    <a href="/artists/edit">Artist Edit</a>
    <a href="/curators/show">Curator Show</a>
    <a href="/artists/show">Artist Show</a>
    <a href="/curators/new">Curator New</a>
    <a href="/artists/new">Artist New</a>
  </nav>
</body>
</html>