

<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
<!-- Body -->
<h1>Curator Show page</h1>
<a href="/curators/<%= curators._id %>/edit">Edit me</a> 
<!-- Boiler plate -->
<%- include("../partials/footer") %>

