<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
<!-- Body -->
<h1>Curator Show page</h1>
<!-- Boiler plate -->
<%- include("../partials/footer") %>