<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artist Edit page</title>
</head>
<body>
    <nav>
    <a href="/curators/index">Curator</a>
    <a href="/artists/index">Artist</a>
    <a href="/curators/edit">Curator Edit</a>
    <a href="/artists/edit">Artist Edit</a>
    <a href="/curators/show">Curator Show</a>
    <a href="/artists/show">Artist Show</a>
    <a href="/curators/new">Curator New</a>
    <a href="/artists/new">Artist New</a>
  </nav>
  <h2>Verson two not now</h2>
  <H1>artist edit page</H1>
</body>
</html>