<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
  <h1>Artist index page</h1>
  
<!-- Boiler plate -->
<%- include("../partials/footer") %>